@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body {
    margin: 0px;
}

header {
    background-image: linear-gradient(to right, #C177FF, #7100CF);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

.logo {
    font-size: 100px;
    margin: 5px 20px 0px 5px;
    height: 103px;
}

.logo2 {
    margin-left: 40px;
    font-weight: 700;
    font-size: 17px;
}

.menu {
    display: inline;
    list-style: none;
    margin-top: 108px;
    margin-bottom: 0px;
}

.menu li {
    display: inline;
    margin: 10px;
    font-size: 17px;
    font-weight: 700;
}

.menu li a {
    color: #000;
    cursor: pointer;
    text-underline-offset: 11px;
    text-decoration-thickness: 3px;
}

.menu li a:hover {
    color: #393939;
    cursor: pointer;
}

.main{
    background-image: url('./image/wall2.jpg');
    height: 500px;
}